<div class="container dark text-white my-5 py-5 px-5">
    <form id="login-form">
        <div class="mb-3">
            <label for="username" class="form-label">Логин</label>
            <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="gray btn text-white py-3 px-4">Войти</button>
        <button type="button" class="gray btn text-white ms-2 py-3">Зарегистрироваться</button>
    </form>
</div>