<div class="container dark text-white my-5 py-5 px-5">
    <form id="signup-form">
        <div class="mb-3">
            <label for="userName" class="form-label">Логин</label>
            <input type="text" class="form-control" name="userName" id="userName">
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="col">
                <label for="confirm_password" class="form-label">Подтверждение пароля</label>
                <input type="password" class="form-control" name="confirm_password" id="confirm_password">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            <div class="col">
                <label for="name" class="form-label">ФИО</label>
                <input type="text" class="form-control" name="name" id="name">
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="birthDate" class="form-label">Дата рождения</label>
                <input type="date" class="form-control" name="birthDate" id="birthDate">
            </div>
            <div class="col">
                <label for="gender" class="form-label">Пол</label>
                <select id="gender" class="form-select">
                    <option value="0" name="gender" selected>Женский</option>
                    <option value="1" name="gender">Мужской</option>
                </select>
            </div>
        </div>  
        <button id="signup-submit" type="submit" class="gray btn text-white py-3">Зарегистрироваться</button>
    </form>
</div>