<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/edit-profile.css">
</head>
<body>
    <div class="container text-white my-5 py-5 px-5">
        <div class="row">
            <div class="col">
                <div class="profile-photo">

                </div>
            </div>
            <div class="col-md-8">
                <h1 class="mb-4">Hwang Hyun-Jin</h1>
                <div class="mb-3">
                    <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail" required>
                    
                </div>
                <div class="mb-3">
                    <label for="inputAvatar" class="form-label">Ссылка на аватар</label>
                    <input type="text" class="form-control" id="inputAvatar">
                </div>
                <div class="mb-3">
                    <label for="inputName" class="form-label">ФИО</label>
                    <input type="text" class="form-control" id="inputName" required>
                </div>
                <div class="mb-3">
                    <label for="inputBDate" class="form-label">Дата рождения</label>
                    <input type="date" class="form-control" id="inputBDate" required>
                </div>
                <div class="mb-4">
                    <label for="selectSex" class="form-label">Пол</label>
                    <select id="selectSex" class="form-select">
                        <option selected>Не выбрано</option>
                        <option value="woman">Женский</option>
                        <option value="man">Мужской</option>
                    </select>
                </div>
                <button type="submit" class="edit btn">Редактировать</button>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a3ceedbc1a.js" crossorigin="anonymous"></script>
</body>
</html>