<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDetails</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/movie-details.css">
</head>
<body>
    <div id="review-template" class="card text-white mb-3 py-2 d-none">
        <div class="card-header px-5">
            <div class="d-flex justify-content-between align-items-center">
                <div class="user-info d-flex align-items-center">
                    <div class="user-avatar-container">
                        <img class="user-avatar anonymous" src="../user-icon.png" alt="">
                    </div>
                    <h5 class="user-name mx-3">Анонимный пользователь</h5>
                </div>
                <div class="rating-info">
                    <div class="d-flex align-items-center">
                        <p class="rating-title">Оценка:</p>
                        <div class="rating-body ms-2">
                            <div class="d-flex align-items-center">
                                <i class="fa-solid fa-star"></i>
                                <p class="score-value text-white"></p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <p class="date-title">Дата отзыва:&nbsp&nbsp</p>
                        <p class="date-value"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body px-5">
          <p class="comment-text card-text"></p>
          <button type="button" class="btn edit">Редактировать</button>
          <button type="button" class="btn delete ms-1">Удалить</button>
        </div>
    </div>

    <div class="container my-5 py-5 px-5">
        <div id="movie-info">
            <div class="row text-white">
                <div class="col-lg-5">
                    <img class="movie-poster" alt="">
                </div>
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <h1 class="movie-title"></h1>
                        <h2 class="movie-average-rating"></h5>
                    </div>
                    <p class="brief-description my-3"></p>
                    <button type="button" class="add-to-favorites btn my-3">Добавить в избранное&nbsp&nbsp<i class="fa-solid fa-bookmark"></i></button>
                    <h2 class="my-3">О фильме</h2>
                    <div class="common-info">
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Год производства:</p>
                            <p class="movie-year"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Страна:</p>
                            <p class="movie-country"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Жанр:</p>
                            <p class="movie-genres"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Время:</p>
                            <p class="movie-time"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Слоган:</p>
                            <p class="movie-tagline"></p>
                        </div>
                        <div class="single-info single-info d-flex justify-content-between">
                            <p class="single-info__title">Режиссёр:</p>
                            <p class="movie-director"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Бюджет:</p>
                            <p class="movie-budget"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Сборы в мире:</p>
                            <p class="movie-fees"></p>
                        </div>
                        <div class="single-info d-flex justify-content-between">
                            <p class="single-info__title">Возраст:</p>
                            <p class="movie-age-limit"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="my-3">Отзывы и оценки</h2>
        <div id ="adding-review">
            <div class="card gray text-white mb-3 py-2">
                <div class="card-header px-5">
                    <h5 class="mb-1">Добавить отзыв</h5>
                </div>
                <div class="card-body px-5">
                    <div class="form" action="" method="POST">
                        <div class="mb-3">
                            <label for="inputReviewText" class="review-title form-label">Текст отзыва</label>
                            <textarea id="inputReviewText" class="review-body form-control text-white py-3 px-4"></textarea>
                        </div>
                        
                        <div class="mb-3">
                            <label for="rateSelect" class="rate-title form-label">Текст отзыва</label>
                            <select id="rateSelect" class="rate-body form-select text-white py-3 px-4">
                                <option value="10" selected>10</option>
                                <option value="9">9</option>
                                <option value="8">8</option>
                                <option value="7">7</option>
                                <option value="6">6</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                                <option value="1">1</option>
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">Оставить отзыв анонимно</label>
                        </div>

                        <input type="button" value="Сохранить" class="save btn btn-secondary text-white py-3">
                    </div>
                </div>
            </div>
        </div>
        <div id="comments">
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a3ceedbc1a.js" crossorigin="anonymous"></script>
    <script src="../js/jquery-3.6.1.min.js"></script>
    <script src="../js/movie-details.js"></script>
</body>
</html>