<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieDetails</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/movie-details.css">
</head>
<body>
    <div class="container my-5 py-5 px-5">
        <div class="row">
            <div class="col">
                <img src="../1922x.webp" alt="">
            </div>
            <div class="col">
                <h1>Джокер(2019)</h1>
                <p class="my-3">Готэм, начало 1980-х годов. Комик Артур Флек живет с больной матерью, которая с детства учит его «ходить с улыбкой». Пытаясь нести в мир хорошее и дарить людям радость, Артур сталкивается с человеческой жестокостью и постепенно приходит к выводу, что этот мир получит от него не добрую улыбку, а ухмылку злодея Джокера.</p>
                <button type="button" class="btn btn-primary my-3">Добавить в избранное&nbsp&nbsp<i class="fa-solid fa-bookmark"></i></button>
                <h2 class="my-3">О фильме</h2>
                <div class="common-info">
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Год производства:</p>
                        <p>2019</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Страна:</p>
                        <p>США, Канада</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Жанр:</p>
                        <p>драма, криминал, триллер</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Время:</p>
                        <p>122 мин.</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Слоган:</p>
                        <p>«Сделай счастливое лицо»</p>
                    </div>
                    <div class="single-info single-info d-flex justify-content-between">
                        <p class="single-info__title">Режиссёр:</p>
                        <p>Тодд Филлипс</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Бюджет:</p>
                        <p>$55 000 000</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Сборы в мире:</p>
                        <p>$1 074 251 311</p>
                    </div>
                    <div class="single-info d-flex justify-content-between">
                        <p class="single-info__title">Возраст:</p>
                        <p>18+</p>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="my-3">Отзывы и оценки</h2>
        <div id="comments">
            <div class="card green text-white mb-3 py-2">
                <div class="card-header px-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-info d-flex align-items-center">
                            <img src="../hyunjin1.jpg" alt="">
                            <h5 class="mx-3">Hwang Hyun-jin</h5>
                        </div>
                        <div class="rating-info">
                            <div class="d-flex">
                                <p class="rating-title">Оценка:</p>
                            </div>
                            <div class="d-flex">
                                <p class="date-title">Дата отзыва:&nbsp&nbsp</p>
                                <p class="date-value">25.10.2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-5">
                  <p class="card-text">Замечательный фильм. 1000/10. Всё нравится</p>
                </div>
            </div>

            <div class="card red text-white mb-3 py-2">
                <div class="card-header px-5">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="user-info d-flex align-items-center">
                            <img src="../hyunjin1.jpg" alt="">
                            <h5 class="mx-3">Hwang Hyun-jin</h5>
                        </div>
                        <div class="rating-info">
                            <div class="d-flex">
                                <p class="rating-title">Оценка:</p>
                            </div>
                            <div class="d-flex">
                                <p class="date-title">Дата отзыва:&nbsp&nbsp</p>
                                <p class="date-value">25.10.2022</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body px-5">
                  <p class="card-text">Готэм, начало 1980-х годов. Комик Артур Флек живет с больной матерью, которая с детства учит его «ходить с улыбкой». Пытаясь нести в мир хорошее и дарить людям радость, Артур сталкивается с человеческой жестокостью и постепенно приходит к выводу, что этот мир получит от него не добрую улыбку, а ухмылку злодея Джокера.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/a3ceedbc1a.js" crossorigin="anonymous"></script>
</body>
</html>