
.profile-photo {
    background: #22242F;
    border: 1px solid #65656F;
    border-radius: 40px;
    width: 100%;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}