.card.movie {
    background-color: #22242F;
    border: 3px solid #373743;
    border-radius: 40px;
    transition: ease 0.6s;
}

.card.movie:hover {
    background-color: #373743;
}

.card.movie img {
    border-radius: 30px;
}

.card.movie .img-fluid {
    width: 100%;
    height: 100%;
}

.card.movie .card-body {
    padding-left: 0;
    color: #fff;
}

.card.movie .card-title {
    font-weight: 800;
}

.card.movie .rating {
    background-color: #38352D;
    padding: 3px 10px;
    border: 1px solid #886F1D;
    border-radius: 40px;
}

.card.movie .card-body .year, .country {
    margin: 0;
    color: #898A93;
}

.card.movie .card-body .fa-star {
    color: #FFC700;
}

.card.movie .card-body .score-value {
    margin: 0 0 0 5px;
}

@media (min-width: 768px) {
    .card.movie .card .col-md-1 {
        width: 140px;
        height: 170px;
    }
}