.container {
    background: radial-gradient(36.55% 53.71% at 75.47% 46.29%, #312837 0%, #22242F 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border-radius: 50px;
}

h1, h2 {
    color: #fff;
    font-weight: 700;
}

p {
    color: #E1E1E1;
    font-size: 16px;
    line-height: 1.3em;
}

.btn {
    color: #22242F;
    font-weight: 500;
    border-radius: 41px;
}

.btn, .fa-bookmark {
    transition: ease 0.4s;
}

.btn.add-to-favorites {
    background-color: #B93338;
}

.btn.add-to-favorites.active .fa-bookmark {
    color: #fff;
}

.btn.add-to-favorites:hover {
    background-color: #b94d51;
}

.btn.add-to-favorites:hover .fa-bookmark {
    color: #fff;
}

.btn i {
    color:#22242F;
}

.movie-poster {
    border-radius: 40px;
}

.single-info {
    border-bottom: 1px solid #898A93;
}

.single-info p {
    margin: 7px;
}

.single-info__title {
    color: #898A93;
}
