.container {
    background: radial-gradient(36.55% 53.71% at 75.47% 46.29%, #312837 0%, #22242F 100%);
    border-radius: 50px;
}

h1, h2, h5, h6 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.3em;
}

.btn {
    color: #22242F;
    font-weight: 500;
    border-radius: 40px;
    transition: ease 0.4s;
}

.btn:hover, :not(.btn-check)+.btn:active {
    color: #22242F;
}

.btn i {
    color:#22242F;
}

.btn.edit {
    background-color: #AE8D16;
}

.btn.edit:hover {
    background-color: #b19c52;
}

.btn.save {
    background: #3B3C47;
    border: 1px solid #514444;
}

.btn.add-to-favorites, .btn.delete {
    background-color: #B93338;
}

.btn.add-to-favorites, .btn.delete:hover {
    background-color: #bb4e52;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
}

#movie-info .brief-description {
    color: #E1E1E1;
}

#movie-info .add-to-favorites {
    background-color: #B93338;
    color: #22242F;
}

#movie-info .add-to-favorites i {
    color:#22242F;
}

#movie-info .single-info {
    border-bottom: 1px solid #898A93;
}

#movie-info .single-info p {
    margin: 7px;
}

#movie-info .single-info__title {
    color: #898A93;
}

#comments .card, #adding-review .card {
    background-color: #22242F;
    border-radius: 40px;
}

#adding-review .card.gray {
    border: 2px solid #65656F;
}

#adding-review .card.gray .card-header {
    border-bottom: 2px solid #65656F;
}

#adding-review .form-label {
    font-weight: 700;
    font-size: 1.1rem;
}

#adding-review .review-body, #adding-review .rate-body {
    border: 1px solid #65656F;
    border-radius: 40px;
    background-color: #22242F;
}

#adding-review .review-body {
    height: 300px;
}

#adding-review .rate-body {
    background-position: right 1rem center;
    background-size: 20px 20px;
    width: 100px;
    line-height: 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: start;
}

#adding-review .rate-body::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    color: red;
    vertical-align: middle;
    font-weight: 700;
    font-size: 1.2em;
    color: #3B3C47;
    position: absolute;
    left: 50px;
}

#adding-review .save:hover {
    background: #5d5e68;
}

#comments .card.green {
    border: 2px solid #2E3E37;
}

#comments .card.red {
    border: 2px solid #892C2F;
}

#comments .card.green .card-header {
    border-bottom: 2px solid #2E3E37;
}

#comments .card.red .rating-body {
    background: #892C2F;
}

#comments .card.green .rating-body {
    background: #2E3E37;
}

#comments .card.red .card-header {
    border-bottom: 2px solid #892C2F;
}

#comments .card.green .card-body .card-text {
    color: #558B51;
}

#comments .card.red .card-body .card-text {
    color: #892C2F;
}

#comments .card .user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

#comments .card .rating-info p {
    margin: 0;
    color: #898A93;
}

#comments .card .rating-body {
    background-color: #38352D;
    padding: 3px 10px;
    border: 1px solid #886F1D;
    border-radius: 40px;
}

#comments .card .rating-body .fa-star {
    color: #FFC700;
}

#comments .card .rating-body .score-value {
    margin: 0 0 0 5px;
    font-weight: 500;
}