input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}

.container {
    background: radial-gradient(36.55% 53.71% at 75.47% 46.29%, #312837 0%, #22242F 100%);
    border-radius: 50px;
}

h1, h2, h5, h6 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.3em;
}

.btn {
    color: #22242F;
    font-weight: 500;
    border-radius: 40px;
    transition: ease 0.4s;
}

.btn:hover, :not(.btn-check)+.btn:active {
    color: #22242F;
}

.btn {
    transition: ease 0.4s;
}

.btn.edit {
    background-color: #AE8D16;
}

.btn.edit:hover {
    background-color: #b19c52;
}

.btn.save {
    background: #3B3C47;
    border: 1px solid #514444;
}

.btn.save:hover {
    background: #5d5e68;
}

.btn.add-to-favorites, .btn.delete {
    background-color: #B93338;
}

.btn.add-to-favorites:hover, .btn.delete:hover {
    background-color: #bb4e52;
}

.btn.add-to-favorites.active .fa-bookmark {
    color: #fff;
}

.btn.add-to-favorites:hover .fa-bookmark {
    color: #fff;
}

.form-label {
    font-weight: 700;
    font-size: 1.1rem;
}

.form-control, .form-select {
    color: #fff;
    border: 1px solid #343a40;
    border-radius: 40px;
    background-color: #22242F;
    line-height: 35px;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border: 1px solid #343a40;
    background-color: #22242F;
}

.form-select {
    background-position: right 1rem center;
    background-size: 20px 20px;
    text-align: start;
}