@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height: 100%;
}

body {
    background: radial-gradient(40.14% 47.79% at 74.17% 59.86%, #372835 0.52%, #282A43 100%) fixed;
    font-family: 'Inter';
}

h1, h2, h5, h6 {
    color: #fff;
    font-weight: 700;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.3em;
}

.green {
    color: #558B51
}

.red {
    color: #892C2F;
}

.btn i {
    color:#22242F;
}

.btn:hover, :not(.btn-check)+.btn:active {
    color: #22242F;
}

.btn, .fa-bookmark {
    transition: ease 0.4s;
}

.btn.edit {
    background-color: #AE8D16;
}

.btn.edit:hover {
    background-color: #b19c52;
}

.btn.save {
    background: #3B3C47;
    border: 1px solid #514444;
}

.btn.save:hover {
    background: #5d5e68;
}

.btn.add-to-favorites, .btn.delete {
    background-color: #B93338;
}

.btn.add-to-favorites:hover, .btn.delete:hover {
    background-color: #bb4e52;
}

.btn.add-to-favorites:hover .fa-bookmark,
.btn.add-to-favorites.added .fa-bookmark {
    color: #fff;
}

/* Navbar */

#navbar {
    transition: ease 0.7s;
}

#navbar:hover {
    background-color: #1d1f2efb;
}

#navbar .navbar-brand {
    font-weight: 600;
    letter-spacing: 0.08em;
    color: #D71F26;
}

#navbar .nav-item .nav-link {
    color: #8E8C90;
    transition: ease 0.3s;
}

#navbar .nav-item .nav-link.active {
    color: #ffffff;
}

#navbar .nav-item .nav-link:hover {
    color: #ffffff;
}

#navbar.authorized .link-for-authorized,
#navbar.unauthorized .link-for-unauthorized {
    display: block;
}

#navbar.authorized .link-for-unauthorized,
#navbar.unauthorized .link-for-authorized {
    display: none;
}

/* card */

.card.movie {
    background-color: #22242F;
    border: 3px solid #373743;
    border-radius: 40px;
    transition: ease 0.6s;
}

.card.movie:hover {
    background-color: #373743;
}

.card.movie img {
    border-radius: 30px;
}

.card.movie .img-fluid {
    width: 100%;
    height: 100%;
}

.card.movie .card-body {
    padding-left: 0;
    color: #fff;
}

.card.movie .card-title {
    font-weight: 800;
}

.card.movie .card-body .details {
    color: #898A93;
    font-weight: 500;
}

.card.movie .card-body .movie-year, 
.card.movie .card-body .movie-country, 
.card.movie .card-body .country-genres-divider,
.card.movie .card-body .movie-genres {
    margin: 0;
}

.card.movie .card-body .movie-country, 
.card.movie .card-body .country-genres-divider,
.card.movie .card-body .movie-genres {
    display: inline;
}

.card.movie .rating {
    background-color: #38352D;
    padding: 3px 10px;
    border: 1px solid #886F1D;
    border-radius: 40px;
    display: inline-block;
}

.card.movie .rating .fa-star {
    color: #FFC700;
}

.card.movie .rating .score-value {
    margin: 0 0 0 5px;
}

@media (min-width: 768px) {
    .card.movie .col-md-1 {
        width: 140px;
        height: 170px;
    }
}

/* Pagination */
 
.pagination .page-item .page-link {
    background: #22242F;
    border: 3px solid #373743;
    color: #BEBEBE; 
    font-weight: 600;
    font-size: 1.1em;
    text-align: center;
    margin-right: 3px;
    transition: ease 0.4s;
}

.pagination .page-item .page-link:focus {
    box-shadow: none;
}

.pagination .num-item .page-link {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.pagination .num-item .page-link:hover {
    color: #ffffff; 
    background: #373743;
}

.pagination .direction-item .page-link {
    border-radius: 20px;
    width: 3.5rem;
    font-size: 1.5em;
    line-height: 2rem;
}

.pagination .direction-item .page-link:hover {
    color: #F13E45;
    font-size: 1.7em;
}

