* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

.gradient {
    height: 100vh;
    background: radial-gradient(40.14% 47.79% at 74.17% 59.86%, #372835 0.52%, #282A43 100%);
}

.navbar {
    transition: ease 0.7s;
}

.navbar:hover {
    background-color: #1d1f2efb;
}

.navbar .navbar-brand {
    font-weight: 600;
    letter-spacing: 0.08em;
    color: #D71F26;
}

.navbar .nav-item .nav-link {
    color: #8E8C90;
    transition: ease 0.3s;
}

.navbar .nav-item .nav-link.active {
    color: #ffffff;
}

.navbar .nav-item .nav-link:hover {
    color: #ffffff;
}